config/node-red/flows.json
[{"id":"78850b47.de8cb4","type":"tab","label":"Home presence","disabled":false,"info":""},{"id":"afb5a4c8.48eb08","type":"tab","label":"Sleep mode","disabled":false,"info":""},{"id":"c87a57ae.254668","type":"tab","label":"Lights control","disabled":false,"info":""},{"id":"47ae6587.eec74c","type":"tab","label":"Alarm control","disabled":false,"info":""},{"id":"4e39d9cc.cc4f58","type":"tab","label":"Energy","disabled":false,"info":""},{"id":"adf8d91.68f9c28","type":"tab","label":"NodOn control","disabled":false,"info":""},{"id":"ad7bf5e7.4d1c48","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"fb4ccc3d.71b43","type":"tab","label":"Car","disabled":false,"info":""},{"id":"545f9a08.b82714","type":"subflow","name":"Heating preset mode 'away'","info":"Set the heating preset mode to 'away' **ONLY** if the heating system is on.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"c2c439fb.0344b8"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"7e6f19c6.de7348","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a99dcfde.8c7f9","type":"subflow","name":"Heating preset mode 'Schedule'","info":"Set the heating preset mode to 'schedule' **ONLY** if the heating system is on.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ee875fe3.b59ca"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"212c8d16.8b51e2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"75f9c555.2d106c","type":"subflow","name":"Alarm disarm","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"1e9b816c.f1e5cf"}]}],"out":[{"x":540,"y":160,"wires":[{"id":"6e8c4906.8ac698","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"64c1c6c4.1bc758","type":"subflow","name":"Close fence if open","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3e79982.7814368"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"6ad15bc4.571e94","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"bbdb22de.e6274","type":"subflow","name":"Slack notification","info":"# Send slack notification\nSend slack message and video / image if present.\n\nIt reads `msg.notification` data for the following fields:\n\n`header`: `<optional>` Message header. The header will be followed by a divider block.\n\n`message`: `<mandatory>` The message to send.\n\n`type`: `<optional>` Notification type.\n\n`place`: `<optional>` Notification place.\n\n`image`: `<optional>` Accessory image to use in the notification.\n\n`file_path`: `<optional>` The location of the file to upload to slack (usually a video or photo).\n","category":"","in":[{"x":40,"y":100,"wires":[{"id":"7399dc68.5f22a4"}]}],"out":[{"x":1300,"y":100,"wires":[{"id":"90a7b453.49da68","port":1},{"id":"f15daadc.1c4a88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4457bebb.707b2","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"8c68feb.1f1b2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd649f4f.9ca6a","type":"server-state-changed","z":"78850b47.de8cb4","name":"Family at home?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.unidad_familiar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["566873f6.987b9c","deecc82e.65bed8","e8fdca7c.f39708","78270fd3.74a93"],["b27997be.953588","e5d8fe4b.64d21","724092d2.69c54c","f3d4e57a.7ef358"]]},{"id":"6e8c4906.8ac698","type":"api-call-service","z":"75f9c555.2d106c","name":"Disarm alarm","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":160,"wires":[[]]},{"id":"ee875fe3.b59ca","type":"api-current-state","z":"a99dcfde.8c7f9","name":"Heating on?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.netatmo_general","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["212c8d16.8b51e2"],[]]},{"id":"212c8d16.8b51e2","type":"api-call-service","z":"a99dcfde.8c7f9","name":"Set heating preset mode to 'Schedule'","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.netatmo_general","data":"{\"preset_mode\":\"Schedule\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":80,"wires":[[]]},{"id":"c2c439fb.0344b8","type":"api-current-state","z":"545f9a08.b82714","name":"Heating on?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.netatmo_general","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["7e6f19c6.de7348"],[]]},{"id":"7e6f19c6.de7348","type":"api-call-service","z":"545f9a08.b82714","name":"Set heating preset mode to 'Away'","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.netatmo_general","data":"{\"preset_mode\":\"away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":80,"wires":[[]]},{"id":"7c8eb086.04be3","type":"server-state-changed","z":"78850b47.de8cb4","name":"Geni state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.geni","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":580,"wires":[["4bf6cdb6.1c20c4"]]},{"id":"4bf6cdb6.1c20c4","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":580,"wires":[["3b254397.07ad2c"],["ea6814f9.7f7c88"],[]]},{"id":"739c892b.fa8c08","type":"server-state-changed","z":"78850b47.de8cb4","name":"Jordi state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jordi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":740,"wires":[["a217ed71.e8ced"]]},{"id":"a217ed71.e8ced","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":740,"wires":[["4258d50d.4ed5cc"],["86c4adbf.506c4"],[]]},{"id":"d112e1d6.aa941","type":"server-state-changed","z":"78850b47.de8cb4","name":"Guest person at home?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":960,"wires":[["e95fbf95.6bfd4","abe9df97.2b585"],["cc0012a0.beef3"]]},{"id":"110e0523.726e1b","type":"delay","z":"78850b47.de8cb4","name":"Delay Guest mode deactivation","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":860,"wires":[["4bc133c3.30de0c"]]},{"id":"e95fbf95.6bfd4","type":"api-current-state","z":"78850b47.de8cb4","name":"Guest mode minutes","server":"4457bebb.707b2","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.guest_mode_minutes","state_type":"num","state_location":"minutes","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":860,"wires":[["c761353f.a934c8","3066498f.023a36"]]},{"id":"4bc133c3.30de0c","type":"api-call-service","z":"78850b47.de8cb4","name":"Disable Guest mode","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.guest_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":860,"wires":[[]]},{"id":"c761353f.a934c8","type":"function","z":"78850b47.de8cb4","name":"Convert minutes to milis","func":"msg.delay = msg.minutes * 60 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":860,"wires":[["110e0523.726e1b"]]},{"id":"3066498f.023a36","type":"function","z":"78850b47.de8cb4","name":"Convert minutes to hours and minutes","func":"msg.hours = Math.floor(msg.minutes / 60);\nmsg.minutes = msg.minutes  % 60;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":920,"wires":[["cd9d4a61.e49ec8"]]},{"id":"cd9d4a61.e49ec8","type":"template","z":"78850b47.de8cb4","name":"Build telegram Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \" Activado modo invitado durante {{ hours }} hora(s) y {{ minutes }} minutos\"}","output":"json","x":1090,"y":920,"wires":[["6975bebb.5c787"]]},{"id":"6975bebb.5c787","type":"api-call-service","z":"78850b47.de8cb4","name":"Notify telegram","server":"4457bebb.707b2","version":1,"debugenabled":true,"service_domain":"notify","service":"telegram","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1320,"y":920,"wires":[[]]},{"id":"f8f68dc5.9bf1a","type":"subflow:545f9a08.b82714","z":"78850b47.de8cb4","name":"Set heating preset mode to 'Away'","env":[],"x":780,"y":460,"wires":[[]]},{"id":"9aa17583.f38418","type":"subflow:a99dcfde.8c7f9","z":"78850b47.de8cb4","name":"Set heating preset mode to 'Schedule'","env":[],"x":790,"y":140,"wires":[[]]},{"id":"e5d8fe4b.64d21","type":"api-current-state","z":"78850b47.de8cb4","name":"Holiday mode active?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":460,"wires":[[],["f8f68dc5.9bf1a"]]},{"id":"deecc82e.65bed8","type":"api-current-state","z":"78850b47.de8cb4","name":"Holiday mode active?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":140,"wires":[[],["9aa17583.f38418"]]},{"id":"b89fefe8.60f2c","type":"server-events","z":"afb5a4c8.48eb08","name":"Sleep mode event received","server":"4457bebb.707b2","event_type":"sleep_mode","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":840,"wires":[["4e42f0f.c64b21"]]},{"id":"3b1e1681.57ccea","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Logbook","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Modo nocturno\",\"message\":\"es hora de irse a dormir\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":820,"wires":[["adf75d24.6cff4"]]},{"id":"4e42f0f.c64b21","type":"time-range-switch","z":"afb5a4c8.48eb08","name":"Is sleep time?","lat":"39.67239","lon":"2.68846","startTime":"20:30","endTime":"6:00","startOffset":0,"endOffset":0,"x":360,"y":840,"wires":[["3b1e1681.57ccea"],[]]},{"id":"adf75d24.6cff4","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Sleep mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":800,"wires":[[]]},{"id":"64de64b3.31e4dc","type":"inject","z":"afb5a4c8.48eb08","name":"At 6:40","repeat":"","crontab":"40 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":900,"wires":[["de9e3de5.e6f24"]]},{"id":"de9e3de5.e6f24","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Sleep mode off","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":900,"wires":[[]]},{"id":"1e9b816c.f1e5cf","type":"api-current-state","z":"75f9c555.2d106c","name":"Someone at home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.unidad_familiar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":160,"wires":[["6e8c4906.8ac698"],[]]},{"id":"b5badaf9.dd8568","type":"server-state-changed","z":"afb5a4c8.48eb08","name":"Sleep mode on?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":660,"wires":[["3427505c.62e33","21fca594.0b868a","3d94abf7.27d544","46adfef7.94b49","5cd0112d.7270e","a8766c85.49bba","11286ecd.06da51","571ee77c.52dc48","71f78dd1.efd564"],["3ab3b6dc.1c8e7a"]]},{"id":"9147f78e.792e68","type":"comment","z":"afb5a4c8.48eb08","name":"Turn off ALL outside lights","info":"","x":550,"y":200,"wires":[]},{"id":"83c73b72.51cf38","type":"subflow:75f9c555.2d106c","z":"afb5a4c8.48eb08","name":"","x":730,"y":740,"wires":[[]]},{"id":"3ab3b6dc.1c8e7a","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Alarm armed night?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":740,"wires":[["83c73b72.51cf38"],[]]},{"id":"3161abc8.a8e464","type":"join","z":"afb5a4c8.48eb08","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1030,"y":420,"wires":[["60420fdb.e2b29"]]},{"id":"71f78dd1.efd564","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is car battery under 45%?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"45","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.car_ioniq_battery","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":400,"wires":[["460ab8f.3719348"],[]]},{"id":"3d94abf7.27d544","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is kitchen door open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porche_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":460,"wires":[["f0d0196e.5514a8"],[]]},{"id":"21fca594.0b868a","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is kitchen blind open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porche_sensor_persiana","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":520,"wires":[["454f7e9e.e606b"],[]]},{"id":"3427505c.62e33","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is laundry door open","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.coladuria_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":580,"wires":[["5ccad3dd.82278c"],[]]},{"id":"460ab8f.3719348","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bater铆a del coche al {{payload}} por ciento.\n","output":"str","x":780,"y":400,"wires":[["3161abc8.a8e464"]]},{"id":"f0d0196e.5514a8","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Puerta de la cocina abierta.","output":"str","x":780,"y":460,"wires":[["3161abc8.a8e464"]]},{"id":"454f7e9e.e606b","type":"template","z":"afb5a4c8.48eb08","name":"Inicidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Persiana de la cocina abierta.","output":"str","x":790,"y":520,"wires":[["3161abc8.a8e464"]]},{"id":"5ccad3dd.82278c","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Puerta de la coladur铆a abierta.","output":"str","x":780,"y":580,"wires":[["3161abc8.a8e464"]]},{"id":"de487703.f26278","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cerrando la barrera.","output":"str","x":780,"y":280,"wires":[["3161abc8.a8e464"]]},{"id":"8ba5c8d0.35efb8","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alarma armada en modo noche","output":"str","x":780,"y":320,"wires":[["3161abc8.a8e464"]]},{"id":"4160b851.1a3be8","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Notify incidences through Google Home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.recibidor","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":420,"wires":[[]]},{"id":"60420fdb.e2b29","type":"template","z":"afb5a4c8.48eb08","name":"Build Incidences Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \"{{ payload }}\" }","output":"json","x":1210,"y":420,"wires":[["4160b851.1a3be8"]]},{"id":"91da4525.1cafc8","type":"comment","z":"afb5a4c8.48eb08","name":"Incidences","info":"","x":500,"y":360,"wires":[]},{"id":"fac76f8d.f928f","type":"server-state-changed","z":"78850b47.de8cb4","name":"Guest mode on?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.guest_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1120,"wires":[["9062fba0.6945d8"],["fa04c34a.b87b5"]]},{"id":"fa04c34a.b87b5","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest not home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"guest\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1160,"wires":[[]]},{"id":"9062fba0.6945d8","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"guest\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":1080,"wires":[[]]},{"id":"4a003641.8276c8","type":"inject","z":"78850b47.de8cb4","name":"At 8:15","repeat":"","crontab":"15 08 * * 2,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1240,"wires":[["ab0836e3.2a23f8"]]},{"id":"ab0836e3.2a23f8","type":"api-call-service","z":"78850b47.de8cb4","name":"For 240 minutes","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"","data":"{\"entity_id\":\"input_number.guest_mode_minutes\",\"value\":240}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":1280,"wires":[["db6a5874.e8e698"]]},{"id":"db6a5874.e8e698","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.guest_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1240,"wires":[[]]},{"id":"b02120ee.10212","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off outside lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.luces_exteriores","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":120,"wires":[[]]},{"id":"ef82936a.3b208","type":"bigtimer","z":"c87a57ae.254668","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Between sunset and 00:15","comment":"","lat":"39.6662661","lon":"2.6835943","starttime":"5004","endtime":"15","starttime2":0,"endtime2":0,"startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":140,"y":120,"wires":[["52b4b0b2.e6276"],[],[]]},{"id":"53b0615e.d06c3","type":"switch","z":"c87a57ae.254668","name":"Is between dawn and 00:15?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":60,"wires":[["b5bade61.085d3"],["b02120ee.10212"]]},{"id":"b5bade61.085d3","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on outside lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.luces_exteriores","data":"{\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":60,"wires":[[]]},{"id":"7172447e.cb701c","type":"server-state-changed","z":"c87a57ae.254668","name":"Fence state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.outside_fence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":280,"wires":[["1fb13d27.3ac983"]]},{"id":"1fb13d27.3ac983","type":"switch","z":"c87a57ae.254668","name":"Was Closed?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"Cerrada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":280,"wires":[["ba2b5dd.fd714a"]]},{"id":"ba2b5dd.fd714a","type":"switch","z":"c87a57ae.254668","name":"Is moving?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"En movimiento","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":280,"wires":[["da1e8fe4.b203e"]]},{"id":"f4c4576c.532028","type":"api-current-state","z":"c87a57ae.254668","name":"Outside lights off?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.luces_exteriores","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":120,"wires":[["b5bade61.085d3"],[]]},{"id":"51dd95b8.2a14fc","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":200,"wires":[["1eb43d42.48a2b3"]]},{"id":"1eb43d42.48a2b3","type":"time-range-switch","z":"c87a57ae.254668","name":"After 00:15 and dark?","lat":"39.6662661","lon":"2.6835943","startTime":"00:15","endTime":"sunrise","startOffset":0,"endOffset":0,"x":880,"y":180,"wires":[["b02120ee.10212"],[]]},{"id":"da1e8fe4.b203e","type":"time-range-switch","z":"c87a57ae.254668","name":"After sunset and before sunrise?","lat":"39.6662661","lon":"2.6835943","startTime":"sunset","endTime":"sunrise","startOffset":"-1","endOffset":0,"x":410,"y":200,"wires":[["f4c4576c.532028","51dd95b8.2a14fc"],["d5ae3f12.f8a05"]]},{"id":"8ab9985f.56c608","type":"server-state-changed","z":"c87a57ae.254668","name":"Outside lights on","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.luces_exteriores","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["da1e8fe4.b203e"],[]]},{"id":"52b4b0b2.e6276","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":60,"wires":[["53b0615e.d06c3"]]},{"id":"d5ae3f12.f8a05","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":280,"wires":[["b02120ee.10212"]]},{"id":"2b2cc457.ed4f4c","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on hall lamp","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance_hall_lamp_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":440,"wires":[[]]},{"id":"f728a07a.4a31d","type":"sun events","z":"c87a57ae.254668","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":480,"wires":[["4eb39b32.aa7794"]]},{"id":"427f01e4.44c1e","type":"api-current-state","z":"c87a57ae.254668","name":"Someone at home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.unidad_familiar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":480,"wires":[["2b2cc457.ed4f4c"],[]]},{"id":"bc16fa5f.f1b778","type":"comment","z":"c87a57ae.254668","name":"Hall lamp","info":"","x":80,"y":360,"wires":[]},{"id":"3c68f4c0.90190c","type":"comment","z":"c87a57ae.254668","name":"Outside lights","info":"","x":90,"y":60,"wires":[]},{"id":"c2c5f5b6.46df98","type":"time-range-switch","z":"c87a57ae.254668","name":"After sunset?","lat":"39.6662661","lon":"2.6835943","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":0,"x":290,"y":400,"wires":[["2b2cc457.ed4f4c"],[]]},{"id":"f31fb661.4e3948","type":"link in","z":"c87a57ae.254668","name":"Turn on hall lamp if dark","links":["566873f6.987b9c"],"x":175,"y":400,"wires":[["c2c5f5b6.46df98"]]},{"id":"566873f6.987b9c","type":"link out","z":"78850b47.de8cb4","name":"Turn on hall lamp if dark","links":["f31fb661.4e3948"],"x":415,"y":60,"wires":[]},{"id":"2bbcd69d.20e2ca","type":"comment","z":"78850b47.de8cb4","name":"Turn on hall lamp if dark","info":"","x":500,"y":20,"wires":[]},{"id":"441071eb.00ce3","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on stair light","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.escalera_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":680,"wires":[["b9d7a521.61e358"]]},{"id":"b9d7a521.61e358","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":680,"wires":[["1bb42dcd.cb5b62"]]},{"id":"1bb42dcd.cb5b62","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off stair light","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.escalera_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":680,"wires":[[]]},{"id":"b0aa1e80.c4cd3","type":"link in","z":"c87a57ae.254668","name":"Turn on stair light for 5 mins","links":["11286ecd.06da51"],"x":175,"y":680,"wires":[["441071eb.00ce3"]]},{"id":"11286ecd.06da51","type":"link out","z":"afb5a4c8.48eb08","name":"Turn on stair light for 5 mins","links":["b0aa1e80.c4cd3"],"x":455,"y":80,"wires":[]},{"id":"ad46dd57.4b7af","type":"comment","z":"afb5a4c8.48eb08","name":"Turn on stair light for 5 mins","info":"","x":560,"y":40,"wires":[]},{"id":"5b52a8b3.91e1c8","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off hall lamp","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.entrance_hall_lamp_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":540,"wires":[[]]},{"id":"3f83f253.fd2a1e","type":"link in","z":"c87a57ae.254668","name":"Turn off hall lamp","links":["a8766c85.49bba"],"x":175,"y":540,"wires":[["5b52a8b3.91e1c8"]]},{"id":"5b92f272.38a23c","type":"comment","z":"c87a57ae.254668","name":"Stair light","info":"","x":80,"y":620,"wires":[]},{"id":"a8766c85.49bba","type":"link out","z":"afb5a4c8.48eb08","name":"Turn off hall lamp","links":["3f83f253.fd2a1e"],"x":455,"y":160,"wires":[]},{"id":"eeb8ad43.51584","type":"comment","z":"afb5a4c8.48eb08","name":"Turn off hall lamp","info":"","x":520,"y":120,"wires":[]},{"id":"e6161e66.cbc25","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off swimming pool lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.piscina_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":180,"wires":[[]]},{"id":"403a7331.1a75fc","type":"link in","z":"c87a57ae.254668","name":"Turn off ALL outside lights","links":["5cd0112d.7270e","7a8eb4d1.80b36c"],"x":975,"y":320,"wires":[["e6161e66.cbc25","b02120ee.10212"]]},{"id":"5cd0112d.7270e","type":"link out","z":"afb5a4c8.48eb08","name":"Turn off ALL outside lights","links":["403a7331.1a75fc"],"x":455,"y":240,"wires":[]},{"id":"35455773.c99288","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off inside lights group","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.luces_interiores","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":800,"wires":[[]]},{"id":"e1e2430a.40c98","type":"link in","z":"c87a57ae.254668","name":"Turn off ALL inside lights","links":["4d262a56.092864","b27997be.953588","d81f0ba.97ffdf8"],"x":175,"y":800,"wires":[["35455773.c99288"]]},{"id":"7cf94947.bd1948","type":"comment","z":"c87a57ae.254668","name":"Inside lights group","info":"","x":110,"y":740,"wires":[]},{"id":"b27997be.953588","type":"link out","z":"78850b47.de8cb4","name":"Turn off inside lights","links":["e1e2430a.40c98"],"x":415,"y":420,"wires":[]},{"id":"8e482472.9ee468","type":"comment","z":"78850b47.de8cb4","name":"Turn off inside lights","info":"","x":490,"y":380,"wires":[]},{"id":"3e79982.7814368","type":"api-current-state","z":"64c1c6c4.1bc758","name":"Fence open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"Abierta","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.outside_fence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["6ad15bc4.571e94"],[]]},{"id":"6ad15bc4.571e94","type":"api-call-service","z":"64c1c6c4.1bc758","name":"Close fence","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.barrera","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":80,"wires":[[]]},{"id":"46adfef7.94b49","type":"subflow:64c1c6c4.1bc758","z":"afb5a4c8.48eb08","x":530,"y":280,"wires":[["de487703.f26278"]]},{"id":"12c6df9d.62c18","type":"comment","z":"c87a57ae.254668","name":"Turn off ALL outside lights","info":"","x":1070,"y":360,"wires":[]},{"id":"4eb39b32.aa7794","type":"switch","z":"c87a57ae.254668","name":"Is it sunset?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":480,"wires":[["427f01e4.44c1e"]]},{"id":"e017b016.8e888","type":"comment","z":"78850b47.de8cb4","name":"Family at Home","info":"","x":260,"y":140,"wires":[]},{"id":"80746bf5.b1be98","type":"comment","z":"78850b47.de8cb4","name":"Family not at Home","info":"","x":270,"y":340,"wires":[]},{"id":"2ebd34c9.5de56c","type":"comment","z":"afb5a4c8.48eb08","name":"Sleep mode on","info":"","x":280,"y":480,"wires":[]},{"id":"ad72f695.e86fe8","type":"comment","z":"afb5a4c8.48eb08","name":"Sleep mode off","info":"","x":280,"y":740,"wires":[]},{"id":"72e51c5b.9bdd54","type":"comment","z":"c87a57ae.254668","name":"Check state changing from 'Closed' to 'Moving'","info":"","x":350,"y":320,"wires":[]},{"id":"f71ace28.ab6b9","type":"switch","z":"47ae6587.eec74c","name":"Was Disarmed?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":60,"wires":[["5fb29c9e.3b25b4"]]},{"id":"d10ebd66.3c9ba","type":"server-state-changed","z":"47ae6587.eec74c","name":"Alarm state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":80,"wires":[["f71ace28.ab6b9","b5dc4dd8.1f3db"]]},{"id":"5fb29c9e.3b25b4","type":"api-call-service","z":"47ae6587.eec74c","name":"Enable security sensors","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.seguridad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":40,"wires":[["597fa52c.5dccfc"]]},{"id":"b5dc4dd8.1f3db","type":"switch","z":"47ae6587.eec74c","name":"To Disarmed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":100,"wires":[["4e76a2a3.09894c"]]},{"id":"4e76a2a3.09894c","type":"api-call-service","z":"47ae6587.eec74c","name":"Disable security sensors","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.seguridad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":120,"wires":[["1bbf3a3d.fd68f6"]]},{"id":"1f2b3712.e10c99","type":"server-state-changed","z":"47ae6587.eec74c","name":"Kitchen blind open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.porche_sensor_persiana","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":880,"wires":[["1ccbca08.b0a326"],[]]},{"id":"6a1ab18c.0409a","type":"server-state-changed","z":"47ae6587.eec74c","name":"Kitchen door open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.porche_sensor_puerta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":940,"wires":[["39002da5.ab71a2"],[]]},{"id":"eac51658.c799e8","type":"server-state-changed","z":"47ae6587.eec74c","name":"Laundy door open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.coladuria_sensor_puerta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":1000,"wires":[["8bbfe18f.8956d"],[]]},{"id":"719a33a0.5aaacc","type":"server-state-changed","z":"47ae6587.eec74c","name":"Office motion detected","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.despacho_sensor_movimiento","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":820,"wires":[["299f7967.43d236"],[]]},{"id":"65d820fa.60981","type":"api-call-service","z":"47ae6587.eec74c","name":"Trigger alarm","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_trigger","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2030,"y":720,"wires":[["127ae052.ee21e"]]},{"id":"9c6127c3.dd55d8","type":"comment","z":"47ae6587.eec74c","name":"Alarm trigger & notification","info":"","x":130,"y":220,"wires":[]},{"id":"451f0e7b.f53f","type":"server-events","z":"adf8d91.68f9c28","name":"Zwave scene activated","server":"4457bebb.707b2","event_type":"zwave.scene_activated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":460,"wires":[["2a6fe24b.a281ee"]]},{"id":"2a6fe24b.a281ee","type":"switch","z":"adf8d91.68f9c28","name":"NodOn scene?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"zwave.recibidor_remote","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":460,"wires":[["78649fa3.ae69b"]]},{"id":"78649fa3.ae69b","type":"switch","z":"adf8d91.68f9c28","name":"Action?","property":"payload.event.scene_id","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"31","vt":"num"},{"t":"eq","v":"32","vt":"num"},{"t":"eq","v":"33","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"41","vt":"num"},{"t":"eq","v":"42","vt":"num"},{"t":"eq","v":"43","vt":"num"}],"checkall":"true","repair":false,"outputs":16,"x":540,"y":460,"wires":[["d2adb420.f8f038"],["d7d29027.bb3c2"],["6ad6f708.8dd8a8"],["17f12f5e.83cc81"],["e0176432.9531f8"],["ea89a396.bd57d"],["fca15daf.cef76"],["c1cd27c4.592748"],["5e26b31.3fed44c"],["c66ed921.3321b8"],["c759c8a5.c6baa8"],["53f05143.cd8be"],["6e280ec9.43e99"],["684530ee.3b8ff"],["c18e57b3.2dd358"],["70bcdbe0.ee1044"]]},{"id":"d2adb420.f8f038","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 1 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":20,"wires":[["2c72dad9.59b7e6"]]},{"id":"17f12f5e.83cc81","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 1 doble pulsaci贸n\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":200,"wires":[[]]},{"id":"d7d29027.bb3c2","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 1 soltado despu茅s de una pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":80,"wires":[[]]},{"id":"6ad6f708.8dd8a8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 1 pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":140,"wires":[[]]},{"id":"e0176432.9531f8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 2 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":260,"wires":[["5423e8c1.1ca628"]]},{"id":"c1cd27c4.592748","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 2 doble pulsaci贸n\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":440,"wires":[["5cd38661.2aab28"]]},{"id":"ea89a396.bd57d","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 2 soltado despu茅s de una pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":320,"wires":[[]]},{"id":"fca15daf.cef76","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 2 pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":380,"wires":[[]]},{"id":"5e26b31.3fed44c","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 3 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":500,"wires":[["d81f0ba.97ffdf8"]]},{"id":"53f05143.cd8be","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 3 doble pulsaci贸n\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":680,"wires":[["7a8eb4d1.80b36c"]]},{"id":"c66ed921.3321b8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 3 soltado despu茅s de una pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":560,"wires":[[]]},{"id":"c759c8a5.c6baa8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 3 pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":620,"wires":[["7a8eb4d1.80b36c","d81f0ba.97ffdf8"]]},{"id":"6e280ec9.43e99","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 4 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":740,"wires":[["41a0eb1b.454e54"]]},{"id":"70bcdbe0.ee1044","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 4 doble pulsaci贸n\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":920,"wires":[["b9bdee1e.9a893"]]},{"id":"684530ee.3b8ff","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 4 soltado despu茅s de una pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":800,"wires":[[]]},{"id":"c18e57b3.2dd358","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Bot贸n 4 pulsaci贸n larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":860,"wires":[["a9fe0583.29ccd8"]]},{"id":"5423e8c1.1ca628","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home weather short","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"speech_parte_meteorologico_corto","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":260,"wires":[[]]},{"id":"5cd38661.2aab28","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home weather","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"speech_parte_meteorologico","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":440,"wires":[[]]},{"id":"7a8eb4d1.80b36c","type":"link out","z":"adf8d91.68f9c28","name":"Turn off outside lights","links":["403a7331.1a75fc"],"x":1135,"y":640,"wires":[]},{"id":"d81f0ba.97ffdf8","type":"link out","z":"adf8d91.68f9c28","name":"Turn off inside lights","links":["e1e2430a.40c98"],"x":1135,"y":600,"wires":[]},{"id":"b9bdee1e.9a893","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home Geni shift","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"geni_shift","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":920,"wires":[[]]},{"id":"41a0eb1b.454e54","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home Chores","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"chores","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":740,"wires":[[]]},{"id":"2c72dad9.59b7e6","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home leave home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"presence_leave_home","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":20,"wires":[[]]},{"id":"ecc809fc.fa7738","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when office motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.despacho_sensor_movimiento","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":820,"wires":[["851964f7.2caf08","9bc3bc86.5204d"],[]]},{"id":"7b5dc754.342f28","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when laundry door open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.coladuria_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":1000,"wires":[["851964f7.2caf08","4bf6f541.f25f4c","92c3c134.aac75","9bc3bc86.5204d"],[]]},{"id":"1174113c.61e24f","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when kitchen door open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.porche_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":940,"wires":[["851964f7.2caf08","4bf6f541.f25f4c","92c3c134.aac75","9bc3bc86.5204d"],[]]},{"id":"1f6920ef.5e01cf","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when kitchen blind open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.porche_sensor_persiana","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":880,"wires":[["851964f7.2caf08","4bf6f541.f25f4c","92c3c134.aac75","9bc3bc86.5204d"],[]]},{"id":"e5f4470c.dca498","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when hall motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.recibidor_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":520,"wires":[["851964f7.2caf08","9bc3bc86.5204d"],[]]},{"id":"60892557.b4721c","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when swimming pool motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.piscina_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1240,"y":580,"wires":[["851964f7.2caf08","9bc3bc86.5204d"],[]]},{"id":"393fddaf.e9a7f2","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when bbq motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.barbacoa_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":640,"wires":[["851964f7.2caf08","9bc3bc86.5204d"],[]]},{"id":"fec25f3c.5aa24","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when garden shed motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.caseta_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":460,"wires":[["e8089a32.9c7da8"],[]]},{"id":"3947ac3b.2003f4","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when main entrance motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.entrada_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1240,"y":400,"wires":[["e8089a32.9c7da8"],[]]},{"id":"3df6c066.bf972","type":"api-current-state","z":"47ae6587.eec74c","name":"Trigger alarm when living room motion detected?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.salon_camara_det_mov","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":700,"wires":[["851964f7.2caf08","9bc3bc86.5204d"],[]]},{"id":"25bd43d7.e869bc","type":"server-events","z":"47ae6587.eec74c","name":"New video or image in FTP","server":"4457bebb.707b2","event_type":"folder_watcher","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":580,"wires":[["feed4d5f.2d466"]]},{"id":"feed4d5f.2d466","type":"switch","z":"47ae6587.eec74c","name":"File created?","property":"payload.event.event_type","propertyType":"msg","rules":[{"t":"eq","v":"created","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":660,"wires":[["9c4e4836.eef8b8"]]},{"id":"e8f5b1bf.19b2a","type":"switch","z":"47ae6587.eec74c","name":"Which camera?","property":"payload.event.path","propertyType":"msg","rules":[{"t":"cont","v":"puerta_principal","vt":"str"},{"t":"cont","v":"WVC54CGA","vt":"str"},{"t":"cont","v":"C1_00626E615161","vt":"str"},{"t":"cont","v":"FI9853EP_00626E563E69","vt":"str"},{"t":"cont","v":"FI9900P_00626E6D21B2","vt":"str"},{"t":"cont","v":"C1_00626E8305E1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":560,"y":580,"wires":[["6c200c66.8c0a24"],["fe28dd68.1741d"],["d91354f4.1ba5f8"],["d61dd8a2.84b7a8"],["4bf76335.57afac"],["af745126.5ede8"],["c0a9964d.8dfd78"]]},{"id":"d91354f4.1ba5f8","type":"function","z":"47ae6587.eec74c","name":"Set event data for hall camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"switch.recibidor_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en el recibidor\"\nmsg.event.location = \"Recibidor\"\nmsg.event.entity_id = \"camera.recibidor\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":520,"wires":[["e5f4470c.dca498"]]},{"id":"d61dd8a2.84b7a8","type":"function","z":"47ae6587.eec74c","name":"Set event data for swimming pool camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"switch.piscina_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en la piscina\"\nmsg.event.location = \"Piscina\"\nmsg.event.entity_id = \"camera.piscina\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["60892557.b4721c"]]},{"id":"4bf76335.57afac","type":"function","z":"47ae6587.eec74c","name":"Set event data for bbq camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"switch.barbacoa_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en la barbacoa\"\nmsg.event.location = \"Barbacoa\"\nmsg.event.entity_id = \"camera.barbacoa\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":640,"wires":[["393fddaf.e9a7f2"]]},{"id":"fe28dd68.1741d","type":"function","z":"47ae6587.eec74c","name":"Set event data for garden shed camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"switch.caseta_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en la caseta\"\nmsg.event.location = \"Caseta\"\nmsg.event.entity_id = \"camera.caseta\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["fec25f3c.5aa24"]]},{"id":"6c200c66.8c0a24","type":"function","z":"47ae6587.eec74c","name":"Set event data for main entrance camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"input_boolean.entrada_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en la entrada\"\nmsg.event.location = \"Entrada\"\nmsg.event.entity_id = \"camera.entrada\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":400,"wires":[["3947ac3b.2003f4"]]},{"id":"af745126.5ede8","type":"function","z":"47ae6587.eec74c","name":"Set event data for living room camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"switch.salon_camara_det_mov\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en el sal贸n\"\nmsg.event.location = \"Sal贸n\"\nmsg.event.entity_id = \"camera.salon\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":700,"wires":[["3df6c066.bf972"]]},{"id":"c0a9964d.8dfd78","type":"function","z":"47ae6587.eec74c","name":"Set event data for unknown camera","func":"msg.event = {}\nmsg.event.event_type = \"CAMERA_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"none\"\nmsg.event.message = \":alarm-bell: Movimiento detectado\"\nmsg.event.location = \"Desconocido\"\nmsg.event.entity_id = \"camera.desconocido\"\nmsg.event.file_path = msg.payload.event.path\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":760,"wires":[["851964f7.2caf08","9bc3bc86.5204d"]]},{"id":"299f7967.43d236","type":"function","z":"47ae6587.eec74c","name":"Set event data for office sensor","func":"msg.event = {}\nmsg.event.event_type = \"SENSOR_MOTION_DETECTED\"\nmsg.event.event_type_description = \"Movimiento detectado\"\nmsg.event.detection_entity_id = \"input_boolean.despacho_sensor_movimiento\"\nmsg.event.message = \":alarm-bell: Movimiento detectado en el despacho\"\nmsg.event.location = \"Despacho\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":820,"wires":[["ecc809fc.fa7738"]]},{"id":"1ccbca08.b0a326","type":"function","z":"47ae6587.eec74c","name":"Set event data for kitchen blind door sensor","func":"msg.event = {}\nmsg.event.event_type = \"DOOR_OPEN_DETECTED\"\nmsg.event.event_type_description = \"Persiana abierta\"\nmsg.event.detection_entity_id = \"input_boolean.porche_sensor_persiana\"\nmsg.event.message = \":alarm-bell: Persiana de la cocina abierta\"\nmsg.event.location = \"Cocina\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":880,"wires":[["1f6920ef.5e01cf"]]},{"id":"39002da5.ab71a2","type":"function","z":"47ae6587.eec74c","name":"Set event data for kitchen door sensor","func":"msg.event = {}\nmsg.event.event_type = \"DOOR_OPEN_DETECTED\"\nmsg.event.event_type_description = \"Puerta abierta\"\nmsg.event.detection_entity_id = \"input_boolean.porche_sensor_puerta\"\nmsg.event.message = \":alarm-bell: Puerta de la cocina abierta\"\nmsg.event.location = \"Cocina\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":940,"wires":[["1174113c.61e24f"]]},{"id":"8bbfe18f.8956d","type":"function","z":"47ae6587.eec74c","name":"Set event data for laundry door sensor","func":"msg.event = {}\nmsg.event.event_type = \"DOOR_OPEN_DETECTED\"\nmsg.event.event_type_description = \"Puerta abierta\"\nmsg.event.detection_entity_id = \"input_boolean.coladuria_sensor_puerta\"\nmsg.event.message = \":alarm-bell: Puerta de la coladur铆a abierta\"\nmsg.event.location = \"Coladur铆a\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1000,"wires":[["7b5dc754.342f28"]]},{"id":"a4d1a424.d43b48","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Sleep mode on?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1040,"wires":[["4d262a56.092864"],[]]},{"id":"4d262a56.092864","type":"link out","z":"afb5a4c8.48eb08","name":"Turn off inisde lights","links":["e1e2430a.40c98"],"x":635,"y":1020,"wires":[]},{"id":"437ff75a.253338","type":"comment","z":"afb5a4c8.48eb08","name":"Turn off inisde lights","info":"","x":710,"y":980,"wires":[]},{"id":"9cf8e0b0.284af","type":"server-state-changed","z":"78850b47.de8cb4","name":"Calendar holiday mode on?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.holiday_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1380,"wires":[["25313fc6.6e85a"],["9a03c3eb.70f1d"]]},{"id":"9a03c3eb.70f1d","type":"api-call-service","z":"78850b47.de8cb4","name":"Holiday mode off","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1420,"wires":[[]]},{"id":"25313fc6.6e85a","type":"api-call-service","z":"78850b47.de8cb4","name":"Holiday mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1340,"wires":[[]]},{"id":"8ece1364.b2861","type":"server-state-changed","z":"78850b47.de8cb4","name":"Holiday mode on?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1600,"wires":[["e766f4e1.0702d8","9e98a79a.cd2e28"],["cf4d894d.fb66b8","b70b7187.b514d"]]},{"id":"e766f4e1.0702d8","type":"subflow:545f9a08.b82714","z":"78850b47.de8cb4","name":"","x":440,"y":1500,"wires":[[]]},{"id":"cf4d894d.fb66b8","type":"subflow:a99dcfde.8c7f9","z":"78850b47.de8cb4","name":"","x":450,"y":1700,"wires":[[]]},{"id":"4258d50d.4ed5cc","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-jordi: Jordi *ha llegado* a casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["e0804e85.09a3b"]]},{"id":"40a0900e.8a8cd","type":"api-call-service","z":"bbdb22de.e6274","name":"Slack notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"slack","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":100,"wires":[["90a7b453.49da68"]]},{"id":"7399dc68.5f22a4","type":"function","z":"bbdb22de.e6274","name":"Build slack notification object","func":"msg.slack = {\n    \"message\": \"\",\n    \"target\": \"general\",\n    \"data\": {\n        \"blocks\": []\n    }\n}\n\nif (msg.notification.channel != null) {\n    msg.slack.target = msg.notification.channel\n}\n\nvar divider = { \"type\": \"divider\" }\n\n// Add header to notification\nif (msg.notification.header != null) {\n    var header = {\n\t    \t    \"type\": \"section\",\n\t\t    \t\"text\": {\n\t\t\t    \t\"type\": \"mrkdwn\",\n\t\t\t\t    \"text\": msg.notification.header\n    \t\t\t}\n\t    \t}\n\tmsg.slack.data.blocks.push(header)\n}\n\n// Add divider to notification\nmsg.slack.data.blocks.push(divider)\n\n// Build text message\nvar text = msg.notification.message\n\nif (msg.notification.type != null) {\n    text = text + \"\\n\\n*Tipo:* \" + msg.notification.type\n}\n\nif (msg.notification.place != null) {\n    text = text + \"\\n*Lugar:* \" + msg.notification.place + \"\\n\\n\"\n}\n\n// Add body to notification\nvar body = {\n                \"type\": \"section\",\n                \"text\": {\n                    \"type\": \"mrkdwn\",\n                    \"text\": text,\n                }\n            }\n/*\nif (msg.notification.file_path != null) {\n    body.accessory = {\n                    \"type\": \"image\",\n                    \"image_url\": msg.notification.file_path,\n                    \"alt_text\": msg.notification.message\n                }\n}\n*/\nmsg.slack.data.blocks.push(body)\n// Add divider to notification\nmsg.slack.data.blocks.push(divider)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["40a0900e.8a8cd"]]},{"id":"86c4adbf.506c4","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-jordi: Jordi *ha salido* de casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":780,"wires":[["e0804e85.09a3b"]]},{"id":"e0804e85.09a3b","type":"subflow:bbdb22de.e6274","z":"78850b47.de8cb4","name":"","x":730,"y":740,"wires":[[]]},{"id":"3b254397.07ad2c","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-geni: Geni *ha llegado* a casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["c1a5390c.a81bb8"]]},{"id":"ea6814f9.7f7c88","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-geni: Geni *ha salido* de casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["c1a5390c.a81bb8"]]},{"id":"c1a5390c.a81bb8","type":"subflow:bbdb22de.e6274","z":"78850b47.de8cb4","name":"","x":730,"y":580,"wires":[[]]},{"id":"abe9df97.2b585","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-guest: Invitado en casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":940,"wires":[["9257dbe1.f96408"]]},{"id":"9257dbe1.f96408","type":"subflow:bbdb22de.e6274","z":"78850b47.de8cb4","name":"","x":730,"y":980,"wires":[[]]},{"id":"cc0012a0.beef3","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":account-off: Invitado fuera de casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1020,"wires":[["9257dbe1.f96408"]]},{"id":"e8fdca7c.f39708","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":family-icon: Alguien en casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["ef19c9e4.b79988"]]},{"id":"ef19c9e4.b79988","type":"subflow:bbdb22de.e6274","z":"78850b47.de8cb4","name":"","env":[],"x":730,"y":240,"wires":[[]]},{"id":"724092d2.69c54c","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":family-icon: No hay nadie en casa\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["ef19c9e4.b79988"]]},{"id":"1bbf3a3d.fd68f6","type":"function","z":"47ae6587.eec74c","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":shield-off: Alarma desarmada\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["c6d4c2.43fabb4"]]},{"id":"c6d4c2.43fabb4","type":"subflow:bbdb22de.e6274","z":"47ae6587.eec74c","name":"","x":1050,"y":80,"wires":[[]]},{"id":"597fa52c.5dccfc","type":"function","z":"47ae6587.eec74c","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":shield-home: Alarma armada\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":40,"wires":[["c6d4c2.43fabb4"]]},{"id":"f3d4e57a.7ef358","type":"api-call-service","z":"78850b47.de8cb4","name":"Arm alarm away","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":340,"wires":[[]]},{"id":"571ee77c.52dc48","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Arm alarm night","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_night","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":320,"wires":[["8ba5c8d0.35efb8"]]},{"id":"78270fd3.74a93","type":"subflow:75f9c555.2d106c","z":"78850b47.de8cb4","name":"","x":470,"y":100,"wires":[[]]},{"id":"90a7b453.49da68","type":"switch","z":"bbdb22de.e6274","name":"Has file to send?","property":"notification","propertyType":"msg","rules":[{"t":"hask","v":"file_path","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":100,"wires":[["8f2d5097.2048a"],[]]},{"id":"f15daadc.1c4a88","type":"api-call-service","z":"bbdb22de.e6274","name":"Slack file notify","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"slack","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":60,"wires":[[]]},{"id":"8f2d5097.2048a","type":"function","z":"bbdb22de.e6274","name":"Build slack file notification object","func":"msg.slack = {\n    \"message\": \"\",\n    \"target\": \"general\",\n    \"data\": {\n        \"file\": {\n            \"path\": msg.notification.file_path\n        }\n    }\n}\n\nif (msg.notification.channel != null) {\n    msg.slack.target = msg.notification.channel\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":60,"wires":[["f15daadc.1c4a88"]]},{"id":"127ae052.ee21e","type":"function","z":"47ae6587.eec74c","name":"Prepare notification","func":"msg.notification = {\n    \"type\": msg.event.event_type_description,\n    \"place\": msg.event.location,\n    \"message\": msg.event.message,\n    \"file_path\": msg.event.file_path,\n    \"turn_off_entity_id\": msg.event.detection_entity_id,\n    \"channel\": \"alarma\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2230,"y":780,"wires":[["d3169e58.c5537","b30f9f6.7dc596"]]},{"id":"d3169e58.c5537","type":"subflow:bbdb22de.e6274","z":"47ae6587.eec74c","name":"","env":[],"x":2450,"y":740,"wires":[[]]},{"id":"9c4e4836.eef8b8","type":"switch","z":"47ae6587.eec74c","name":"Is mkv file?","property":"payload.event.path","propertyType":"msg","rules":[{"t":"cont","v":"mkv","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":480,"wires":[["f3062370.4d5a7"],["e8f5b1bf.19b2a"]]},{"id":"e8089a32.9c7da8","type":"delay","z":"47ae6587.eec74c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":460,"wires":[["851964f7.2caf08","9bc3bc86.5204d"]]},{"id":"6349edd1.890574","type":"comment","z":"47ae6587.eec74c","name":"15s delay to allow the file to be fully uploaded to the FTP before sending it","info":"","x":1760,"y":420,"wires":[]},{"id":"f85f91f8.5b377","type":"server-state-changed","z":"ad7bf5e7.4d1c48","name":"Swimming pool pump state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.motor_piscina","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":120,"wires":[["7e8a45c6.a3290c"]]},{"id":"f5a3e9f4.f8c928","type":"switch","z":"ad7bf5e7.4d1c48","name":"New state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":540,"y":120,"wires":[["8fc84044.afc37"],["6706ed7e.77cbd4"],[]]},{"id":"6706ed7e.77cbd4","type":"function","z":"ad7bf5e7.4d1c48","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":pool: Motor piscina apagado\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["22948204.d3de2e"]]},{"id":"8fc84044.afc37","type":"function","z":"ad7bf5e7.4d1c48","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":pool: Motor piscina encendido\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["22948204.d3de2e"]]},{"id":"22948204.d3de2e","type":"subflow:bbdb22de.e6274","z":"ad7bf5e7.4d1c48","name":"","env":[],"x":970,"y":120,"wires":[[]]},{"id":"7e8a45c6.a3290c","type":"switch","z":"ad7bf5e7.4d1c48","name":"Previous state","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":120,"wires":[["f5a3e9f4.f8c928"],["f5a3e9f4.f8c928"],[]]},{"id":"d7a23be9.9a36f8","type":"comment","z":"ad7bf5e7.4d1c48","name":"Discard changes from / to \"unavailable\"","info":"","x":430,"y":80,"wires":[]},{"id":"65588677.4761b8","type":"function","z":"afb5a4c8.48eb08","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-jordi: Jordi est谩 en la cama\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1100,"wires":[["6d33a118.b823a"]]},{"id":"6d33a118.b823a","type":"subflow:bbdb22de.e6274","z":"afb5a4c8.48eb08","name":"","x":750,"y":1140,"wires":[[]]},{"id":"cfd56f03.467c7","type":"function","z":"afb5a4c8.48eb08","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":person-jordi: Jordi *no* est谩 en la cama\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[["6d33a118.b823a"]]},{"id":"a9fe0583.29ccd8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home Go to sleep","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"goto_sleep","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":860,"wires":[[]]},{"id":"546bc782.b5ca88","type":"api-call-service","z":"47ae6587.eec74c","name":"Telegram notify camera","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"alarm_notify_camera","entityId":"","data":"notification","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2890,"y":780,"wires":[[]]},{"id":"aceb0fd5.eed59","type":"switch","z":"47ae6587.eec74c","name":"Camera notification?","property":"notification.file_path","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2640,"y":820,"wires":[["546bc782.b5ca88"],["81fa9fa2.7864c"]]},{"id":"81fa9fa2.7864c","type":"api-call-service","z":"47ae6587.eec74c","name":"Telegram notify sensor","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"alarm_notify_sensor","entityId":"","data":"notification","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2880,"y":860,"wires":[[]]},{"id":"b30f9f6.7dc596","type":"change","z":"47ae6587.eec74c","name":"Replace icon","rules":[{"t":"change","p":"notification.message","pt":"msg","from":":alarm-bell:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2430,"y":820,"wires":[["aceb0fd5.eed59"]]},{"id":"b70b7187.b514d","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":airplane-off: Modo vacaciones desactivado\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1640,"wires":[["a27b5e24.6fe9e"]]},{"id":"9e98a79a.cd2e28","type":"function","z":"78850b47.de8cb4","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":airplane-icon: Modo vacaciones activo\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1560,"wires":[["a27b5e24.6fe9e"]]},{"id":"a27b5e24.6fe9e","type":"subflow:bbdb22de.e6274","z":"78850b47.de8cb4","name":"","x":650,"y":1600,"wires":[[]]},{"id":"851964f7.2caf08","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed away?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1820,"y":640,"wires":[["65d820fa.60981"],[]]},{"id":"4bf6f541.f25f4c","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1820,"y":700,"wires":[["65d820fa.60981"],[]]},{"id":"92c3c134.aac75","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed night?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1810,"y":760,"wires":[["65d820fa.60981"],[]]},{"id":"9bc3bc86.5204d","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm triggered?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"triggered","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1810,"y":820,"wires":[["127ae052.ee21e"],[]]},{"id":"f3062370.4d5a7","type":"delay","z":"47ae6587.eec74c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":380,"wires":[["4c97a554.497ccc"]]},{"id":"cf8eb8cc.4fb848","type":"comment","z":"47ae6587.eec74c","name":"15s delay to allow the file to be fully uploaded to the FTP before processing it","info":"","x":330,"y":340,"wires":[]},{"id":"4c97a554.497ccc","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":340,"wires":[["6c3777cd.6b3d68"],[]]},{"id":"6c3777cd.6b3d68","type":"api-call-service","z":"47ae6587.eec74c","name":"Convert mkv to mp4","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"shell_command","service":"mp4_convert","entityId":"","data":"{\t    \"file\": payload.event.path\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":340,"wires":[[]]},{"id":"6b706fcc.b6a9b","type":"function","z":"ad7bf5e7.4d1c48","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":home-assistant: La versi贸n \" + msg.data.new_state.attributes.newest_version + \" de Home Assistant est谩 disponible\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["8bc6983f.3955b8","1be49d81.d3b822"]]},{"id":"b581f307.180bf","type":"server-state-changed","z":"ad7bf5e7.4d1c48","name":"New version available?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":320,"wires":[["6b706fcc.b6a9b"],[]]},{"id":"8bc6983f.3955b8","type":"subflow:bbdb22de.e6274","z":"ad7bf5e7.4d1c48","name":"","x":570,"y":280,"wires":[[]]},{"id":"1be49d81.d3b822","type":"change","z":"ad7bf5e7.4d1c48","name":"Replace icon","rules":[{"t":"change","p":"notification.message","pt":"msg","from":":home-assistant:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["6f7b8327.eabc8c"]]},{"id":"6f7b8327.eabc8c","type":"api-call-service","z":"ad7bf5e7.4d1c48","name":"Telegram notification","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\t    \"message\": notification.message\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":360,"wires":[[]]},{"id":"f7844454.220f08","type":"server-state-changed","z":"4e39d9cc.cc4f58","name":"Home electricity state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.energy_home_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":140,"wires":[["f2573d20.f2906"],["b22e8d97.d67ab"]]},{"id":"8c3f344b.92b868","type":"server-events","z":"4e39d9cc.cc4f58","name":"UPS changed state","server":"4457bebb.707b2","event_type":"nut.ups_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":400,"wires":[["1110cd72.17a293","99ec1767.4ebdb8"]]},{"id":"99ec1767.4ebdb8","type":"debug","z":"4e39d9cc.cc4f58","d":true,"name":"UPS State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"1110cd72.17a293","type":"switch","z":"4e39d9cc.cc4f58","name":"UPS state","property":"payload.event.notify_type","propertyType":"msg","rules":[{"t":"eq","v":"ONLINE","vt":"str"},{"t":"eq","v":"OL CHRG","vt":"str"},{"t":"eq","v":"OL CHRG LB","vt":"str"},{"t":"eq","v":"OL LB","vt":"str"},{"t":"eq","v":"LOWBATT","vt":"str"},{"t":"eq","v":"ONBATT","vt":"str"},{"t":"eq","v":"FSD","vt":"str"},{"t":"eq","v":"COMMOK","vt":"str"},{"t":"eq","v":"COMMBAD","vt":"str"},{"t":"eq","v":"SHUTDOWN","vt":"str"},{"t":"eq","v":"REPLBATT","vt":"str"},{"t":"eq","v":"NOCOMM","vt":"str"},{"t":"eq","v":"FSD OB DISCHRG LB","vt":"str"},{"t":"eq","v":"NOPARENT","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":15,"x":360,"y":420,"wires":[[],[],[],[],[],[],[],[],[],["a22b1351.082a6"],[],[],[],[],[]]},{"id":"c9a36b3a.2a6988","type":"api-call-service","z":"4e39d9cc.cc4f58","name":"Start NUT addon","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_start","entityId":"","data":"{\"addon\":\"a0d7b954_nut\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":440,"wires":[[]]},{"id":"a22b1351.082a6","type":"delay","z":"4e39d9cc.cc4f58","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":440,"wires":[["c9a36b3a.2a6988"]]},{"id":"b3aef3b1.7cc75","type":"server-state-changed","z":"4e39d9cc.cc4f58","name":"Hokuslaptop remaining battery","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hokuslaptop_remaining_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":640,"wires":[["60e3d979.b91ec8","b5c0c614.a9b7d8","60bd72b8.f345fc"]]},{"id":"60e3d979.b91ec8","type":"switch","z":"4e39d9cc.cc4f58","name":"Battery level","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"35","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":640,"wires":[["a4a75dad.d09d5"],["12fe1f84.53bbc"]]},{"id":"12fe1f84.53bbc","type":"api-call-service","z":"4e39d9cc.cc4f58","name":"Turn off laptop charger","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wemo_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":640,"wires":[[]]},{"id":"a4a75dad.d09d5","type":"api-call-service","z":"4e39d9cc.cc4f58","name":"Turn on laptop charger","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wemo_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":580,"wires":[[]]},{"id":"f2573d20.f2906","type":"function","z":"4e39d9cc.cc4f58","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":flash: Suministro el茅ctrico restablecido\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["6adb7f9f.e2ca7","572ac2ed.53967c"]]},{"id":"572ac2ed.53967c","type":"change","z":"4e39d9cc.cc4f58","name":"Replace icon","rules":[{"t":"change","p":"notification.message","pt":"msg","from":":flash:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":60,"wires":[["13319a5e.6d41f6"]]},{"id":"6adb7f9f.e2ca7","type":"subflow:bbdb22de.e6274","z":"4e39d9cc.cc4f58","name":"","x":630,"y":140,"wires":[[]]},{"id":"13319a5e.6d41f6","type":"api-call-service","z":"4e39d9cc.cc4f58","name":"Telegram notification","server":"4457bebb.707b2","version":1,"debugenabled":true,"service_domain":"notify","service":"telegram","entityId":"","data":"notification","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":880,"y":140,"wires":[[]]},{"id":"b22e8d97.d67ab","type":"function","z":"4e39d9cc.cc4f58","name":"Prepare notification","func":"msg.notification = {\n    \"message\": \":flash-alert: Corte en el suministro el茅ctrico detectado\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["5c9ce1fb.aab04","6adb7f9f.e2ca7"]]},{"id":"5c9ce1fb.aab04","type":"change","z":"4e39d9cc.cc4f58","name":"Replace icon","rules":[{"t":"change","p":"notification.message","pt":"msg","from":":flash-alert:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["13319a5e.6d41f6"]]},{"id":"b5c0c614.a9b7d8","type":"debug","z":"4e39d9cc.cc4f58","d":true,"name":"Remaining battery","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":580,"wires":[]},{"id":"60bd72b8.f345fc","type":"interval-length","z":"4e39d9cc.cc4f58","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"10","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"mins","reset":false,"startup":false,"msgField":"lastUpdated","timestampField":"timestamp","repeatTimeout":false,"name":"More than 10 mins without update?","x":460,"y":700,"wires":[["a32e0335.5b292"],["12fe1f84.53bbc","a32e0335.5b292"]]},{"id":"a32e0335.5b292","type":"debug","z":"4e39d9cc.cc4f58","d":true,"name":"Interval output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":700,"wires":[]},{"id":"d18282d6.36d45","type":"server-state-changed","z":"fb4ccc3d.71b43","name":"Ioniq remaining charge time","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.car_ioniq_charge_time_to_100_mins","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"lte","outputs":1,"output_only_on_state_change":true,"x":140,"y":140,"wires":[["87318873.25e988"]]},{"id":"87318873.25e988","type":"switch","z":"fb4ccc3d.71b43","name":"Less than 10 minutes?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"lte","v":"10","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":140,"wires":[["a28d1a06.e305c8"],["f7dab051.7460a"]]},{"id":"f7dab051.7460a","type":"template","z":"fb4ccc3d.71b43","name":"Build telegram Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \" Faltan {{ payload }} minutos para finalizar la carga del coche.\"}","output":"json","x":870,"y":180,"wires":[["760484f.060f27c"]]},{"id":"760484f.060f27c","type":"api-call-service","z":"fb4ccc3d.71b43","name":"Notify telegram","server":"4457bebb.707b2","version":1,"debugenabled":true,"service_domain":"notify","service":"telegram","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1100,"y":140,"wires":[[]]},{"id":"58eda227.936c0c","type":"template","z":"fb4ccc3d.71b43","name":"Build telegram Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \" Carga del coche finalizada. Bater铆a al {{ payload }}%.\"}","output":"json","x":870,"y":100,"wires":[["760484f.060f27c"]]},{"id":"a28d1a06.e305c8","type":"api-current-state","z":"fb4ccc3d.71b43","name":"Ioniq Battery state","server":"4457bebb.707b2","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.car_ioniq_battery","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":100,"wires":[["58eda227.936c0c"]]},{"id":"d4bbd559.853778","type":"server-state-changed","z":"afb5a4c8.48eb08","name":"Jordi in bed?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.withings_in_bed_jm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":1120,"wires":[["2e9b0e5.f42f5f2"]]},{"id":"2e9b0e5.f42f5f2","type":"switch","z":"afb5a4c8.48eb08","name":"Jordi bed status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":280,"y":1120,"wires":[["a4d1a424.d43b48","65588677.4761b8"],["cfd56f03.467c7"],[]]},{"id":"d9ebbfee.8bb03","type":"server-state-changed","z":"fb4ccc3d.71b43","name":"Ioniq State","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.car_ioniq_state_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":280,"wires":[["b69c62c.166cfa"]]},{"id":"b69c62c.166cfa","type":"switch","z":"fb4ccc3d.71b43","name":"Ioniq State?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Encendido","vt":"str"},{"t":"eq","v":"Cargando","vt":"str"},{"t":"eq","v":"Apagado","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":280,"wires":[[],["dafd0492.779728"],[]]},{"id":"dafd0492.779728","type":"api-call-service","z":"fb4ccc3d.71b43","name":"Turn on 'has charged' input boolean","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.car_ioniq_has_charged","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":280,"wires":[[]]}]
