config/node-red/flows.json
[{"id":"78850b47.de8cb4","type":"tab","label":"Home presence","disabled":false,"info":""},{"id":"afb5a4c8.48eb08","type":"tab","label":"Sleep mode","disabled":false,"info":""},{"id":"b7cadc29.45a85","type":"tab","label":"Holiday mode","disabled":false,"info":""},{"id":"c87a57ae.254668","type":"tab","label":"Lights control","disabled":false,"info":""},{"id":"47ae6587.eec74c","type":"tab","label":"Alarm control","disabled":false,"info":""},{"id":"adf8d91.68f9c28","type":"tab","label":"NodOn control","disabled":false,"info":""},{"id":"545f9a08.b82714","type":"subflow","name":"Heating preset mode 'away'","info":"Set the heating preset mode to 'away' **ONLY** if the heating system is on.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"c2c439fb.0344b8"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"7e6f19c6.de7348","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a99dcfde.8c7f9","type":"subflow","name":"Heating preset mode 'Schedule'","info":"Set the heating preset mode to 'schedule' **ONLY** if the heating system is on.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ee875fe3.b59ca"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"212c8d16.8b51e2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"75f9c555.2d106c","type":"subflow","name":"Alarm disarm","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"1e9b816c.f1e5cf"}]}],"out":[{"x":720,"y":140,"wires":[{"id":"b446f82.d378708","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dbd364cb.b9b478","type":"subflow","name":"Alarm arm away","info":"","category":"","in":[{"x":60,"y":200,"wires":[{"id":"647af1d3.a2d8e"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"7e9a7b3f.945014","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"291f0f02.c54e9","type":"subflow","name":"Alarm arm night","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"4c2fa9aa.8496b8"}]}],"out":[{"x":520,"y":140,"wires":[{"id":"f13ee43c.e807a8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"64c1c6c4.1bc758","type":"subflow","name":"Close fence if open","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3e79982.7814368"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"6ad15bc4.571e94","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4457bebb.707b2","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"8c68feb.1f1b2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd649f4f.9ca6a","type":"server-state-changed","z":"78850b47.de8cb4","name":"Family state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.unidad_familiar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["12961809.2a0808"]]},{"id":"12961809.2a0808","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["9ccd7132.6cb2e","deecc82e.65bed8","c5f9692d.1636b8","566873f6.987b9c"],["c6b93b09.97a3e8","e5d8fe4b.64d21","35f323fe.549b9c","b27997be.953588"]]},{"id":"6e8c4906.8ac698","type":"api-call-service","z":"75f9c555.2d106c","name":"Disarm alarm","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":160,"wires":[["b446f82.d378708"]]},{"id":"ee875fe3.b59ca","type":"api-current-state","z":"a99dcfde.8c7f9","name":"Heating on?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.netatmo_general","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["212c8d16.8b51e2"],[]]},{"id":"212c8d16.8b51e2","type":"api-call-service","z":"a99dcfde.8c7f9","name":"Set heating preset mode to 'Schedule'","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.netatmo_general","data":"{\"preset_mode\":\"Schedule\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":80,"wires":[[]]},{"id":"c2c439fb.0344b8","type":"api-current-state","z":"545f9a08.b82714","name":"Heating on?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.netatmo_general","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["7e6f19c6.de7348"],[]]},{"id":"7e6f19c6.de7348","type":"api-call-service","z":"545f9a08.b82714","name":"Set heating preset mode to 'Away'","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.netatmo_general","data":"{\"preset_mode\":\"away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":80,"wires":[[]]},{"id":"9ccd7132.6cb2e","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Alguien en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":200,"wires":[[]]},{"id":"c6b93b09.97a3e8","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"No hay nadie en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":280,"wires":[[]]},{"id":"7c8eb086.04be3","type":"server-state-changed","z":"78850b47.de8cb4","name":"Geni state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.geni","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":580,"wires":[["4bf6cdb6.1c20c4"]]},{"id":"4bf6cdb6.1c20c4","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":580,"wires":[["4279905f.79095"],["b4204576.d01818"]]},{"id":"4279905f.79095","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Geni está en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":540,"wires":[[]]},{"id":"b4204576.d01818","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Geni no está en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":620,"wires":[[]]},{"id":"739c892b.fa8c08","type":"server-state-changed","z":"78850b47.de8cb4","name":"Jordi state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jordi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":740,"wires":[["a217ed71.e8ced"]]},{"id":"a217ed71.e8ced","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":740,"wires":[["3510bbca.025e34"],["738fc3c9.9e2e2c"]]},{"id":"3510bbca.025e34","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Jordi está en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":700,"wires":[[]]},{"id":"738fc3c9.9e2e2c","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Jordi no está en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":780,"wires":[[]]},{"id":"d112e1d6.aa941","type":"server-state-changed","z":"78850b47.de8cb4","name":"Guest state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":960,"wires":[["456faf48.e3aab"]]},{"id":"456faf48.e3aab","type":"switch","z":"78850b47.de8cb4","name":"Home - Not Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":960,"wires":[["2fd60378.26397c","e95fbf95.6bfd4"],["995fc9e8.334148"]]},{"id":"2fd60378.26397c","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Invitado en casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":920,"wires":[[]]},{"id":"995fc9e8.334148","type":"api-call-service","z":"78850b47.de8cb4","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Invitado fuera de casa\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1000,"wires":[[]]},{"id":"647af1d3.a2d8e","type":"api-call-service","z":"dbd364cb.b9b478","name":"Arm alarm","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":190,"y":200,"wires":[["7e9a7b3f.945014"]]},{"id":"110e0523.726e1b","type":"delay","z":"78850b47.de8cb4","name":"Delay Guest mode deactivation","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":860,"wires":[["4bc133c3.30de0c"]]},{"id":"e95fbf95.6bfd4","type":"api-current-state","z":"78850b47.de8cb4","name":"Guest mode minutes","server":"4457bebb.707b2","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.guest_mode_minutes","state_type":"num","state_location":"minutes","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":860,"wires":[["c761353f.a934c8","3066498f.023a36"]]},{"id":"4bc133c3.30de0c","type":"api-call-service","z":"78850b47.de8cb4","name":"Disable Guest mode","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.guest_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":860,"wires":[[]]},{"id":"c761353f.a934c8","type":"function","z":"78850b47.de8cb4","name":"Convert minutes to milis","func":"msg.delay = msg.minutes * 60 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":860,"wires":[["110e0523.726e1b"]]},{"id":"3066498f.023a36","type":"function","z":"78850b47.de8cb4","name":"Convert minutes to hours and minutes","func":"msg.hours = Math.floor(msg.minutes / 60);\nmsg.minutes = msg.minutes  % 60;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":920,"wires":[["cd9d4a61.e49ec8"]]},{"id":"cd9d4a61.e49ec8","type":"template","z":"78850b47.de8cb4","name":"Build telegram Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \"Activado modo invitado durante {{ hours }} hora(s) y {{ minutes }} minutos\"}","output":"json","x":1150,"y":920,"wires":[["6975bebb.5c787"]]},{"id":"6975bebb.5c787","type":"api-call-service","z":"78850b47.de8cb4","name":"Notify telegram","server":"4457bebb.707b2","version":1,"debugenabled":true,"service_domain":"notify","service":"telegram","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1380,"y":920,"wires":[[]]},{"id":"bbcd9a07.2cb1c8","type":"server-state-changed","z":"b7cadc29.45a85","name":"Calendar holiday mode state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.holiday_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":100,"wires":[["c320bb67.d52078"]]},{"id":"c320bb67.d52078","type":"switch","z":"b7cadc29.45a85","name":"On - Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":100,"wires":[["5fdbba2d.b90a74"],["d0a25597.16c5e8"]]},{"id":"d0a25597.16c5e8","type":"api-call-service","z":"b7cadc29.45a85","name":"Holiday mode off","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":160,"wires":[[]]},{"id":"a5fef6b3.045fe8","type":"api-call-service","z":"b7cadc29.45a85","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Modo vacaciones desactivado\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":460,"wires":[[]]},{"id":"5fdbba2d.b90a74","type":"api-call-service","z":"b7cadc29.45a85","name":"Holiday mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":40,"wires":[[]]},{"id":"f60c4ed0.86fdf","type":"api-call-service","z":"b7cadc29.45a85","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bust_in_silhouette: *Presencia* :bust_in_silhouette:\",\"text\":\"Modo vacaciones activado\",\"fallback\":\"Presencia\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":220,"wires":[[]]},{"id":"da805325.bc9c1","type":"server-state-changed","z":"b7cadc29.45a85","name":"Holiday mode state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":340,"wires":[["1f0212e0.5aecad"]]},{"id":"f8f68dc5.9bf1a","type":"subflow:545f9a08.b82714","z":"78850b47.de8cb4","name":"Set heating preset mode to 'Away'","env":[],"x":880,"y":460,"wires":[[]]},{"id":"9aa17583.f38418","type":"subflow:a99dcfde.8c7f9","z":"78850b47.de8cb4","name":"Set heating preset mode to 'Schedule'","env":[],"x":910,"y":140,"wires":[[]]},{"id":"1f0212e0.5aecad","type":"switch","z":"b7cadc29.45a85","name":"On - Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":340,"wires":[["f60c4ed0.86fdf","b7cd9458.f3a338"],["7473f4f6.e4891c","a5fef6b3.045fe8"]]},{"id":"b7cd9458.f3a338","type":"subflow:545f9a08.b82714","z":"b7cadc29.45a85","name":"","x":560,"y":280,"wires":[[]]},{"id":"7473f4f6.e4891c","type":"subflow:a99dcfde.8c7f9","z":"b7cadc29.45a85","name":"","x":570,"y":400,"wires":[[]]},{"id":"e5d8fe4b.64d21","type":"api-current-state","z":"78850b47.de8cb4","name":"Holiday mode active?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":460,"wires":[[],["f8f68dc5.9bf1a"]]},{"id":"deecc82e.65bed8","type":"api-current-state","z":"78850b47.de8cb4","name":"Holiday mode active?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":140,"wires":[[],["9aa17583.f38418"]]},{"id":"b89fefe8.60f2c","type":"server-events","z":"afb5a4c8.48eb08","name":"Sleep mode event received","server":"4457bebb.707b2","event_type":"sleep_mode","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":840,"wires":[["4e42f0f.c64b21"]]},{"id":"3b1e1681.57ccea","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Logbook","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"Modo nocturno\",\"message\":\"es hora de irse a dormir\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":820,"wires":[["adf75d24.6cff4"]]},{"id":"4e42f0f.c64b21","type":"time-range-switch","z":"afb5a4c8.48eb08","name":"Is sleep time?","lat":"39.67239","lon":"2.68846","startTime":"19:30","endTime":"6:00","startOffset":0,"endOffset":0,"x":360,"y":840,"wires":[["3b1e1681.57ccea"],[]]},{"id":"adf75d24.6cff4","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Sleep mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":800,"wires":[[]]},{"id":"64de64b3.31e4dc","type":"inject","z":"afb5a4c8.48eb08","name":"At 6:40","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 06 * * *","once":false,"onceDelay":0.1,"x":180,"y":900,"wires":[["de9e3de5.e6f24"]]},{"id":"de9e3de5.e6f24","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Sleep mode off","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":900,"wires":[[]]},{"id":"c5f9692d.1636b8","type":"subflow:75f9c555.2d106c","z":"78850b47.de8cb4","name":"Disarm alarm","env":[],"x":530,"y":100,"wires":[[]]},{"id":"35f323fe.549b9c","type":"subflow:dbd364cb.b9b478","z":"78850b47.de8cb4","name":"Arm alarm away","env":[],"x":540,"y":340,"wires":[[]]},{"id":"4c2fa9aa.8496b8","type":"api-call-service","z":"291f0f02.c54e9","name":"Arm alarm night","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_night","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":200,"y":160,"wires":[["f13ee43c.e807a8"]]},{"id":"f13ee43c.e807a8","type":"api-call-service","z":"291f0f02.c54e9","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bell: *Alarma* :bell:\",\"text\":\"Alarma armada en modo noche :sleeping:\",\"fallback\":\"Alarma\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":140,"wires":[[]]},{"id":"7e9a7b3f.945014","type":"api-call-service","z":"dbd364cb.b9b478","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bell: *Alarma* :bell:\",\"text\":\"Alarma armada en modo fuera de casa\",\"fallback\":\"Alarma\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":180,"wires":[[]]},{"id":"b446f82.d378708","type":"api-call-service","z":"75f9c555.2d106c","name":"Slack Notify ","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"notify","service":"slack","entityId":"","data":"{\"message\":\"\",\"data\":{\"attachments\":[{\"color\":\"good\",\"pretext\":\":bell: *Alarma* :bell:\",\"text\":\"Alarma desarmada\",\"fallback\":\"Alarma\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":140,"wires":[[]]},{"id":"1e9b816c.f1e5cf","type":"api-current-state","z":"75f9c555.2d106c","name":"Someone at home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.unidad_familiar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":160,"wires":[["6e8c4906.8ac698"],[]]},{"id":"b5badaf9.dd8568","type":"server-state-changed","z":"afb5a4c8.48eb08","name":"Sleep mode on?","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":660,"wires":[["4b580917.71cc88"]]},{"id":"9147f78e.792e68","type":"comment","z":"afb5a4c8.48eb08","name":"Turn off ALL outside lights","info":"","x":550,"y":200,"wires":[]},{"id":"4b580917.71cc88","type":"switch","z":"afb5a4c8.48eb08","name":"On - Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":660,"wires":[["71f78dd1.efd564","3d94abf7.27d544","21fca594.0b868a","3427505c.62e33","11286ecd.06da51","a8766c85.49bba","5cd0112d.7270e","b0731f9a.b7f3b","46adfef7.94b49"],["3ab3b6dc.1c8e7a"]]},{"id":"83c73b72.51cf38","type":"subflow:75f9c555.2d106c","z":"afb5a4c8.48eb08","name":"","x":730,"y":740,"wires":[[]]},{"id":"3ab3b6dc.1c8e7a","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Alarm armed night?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":740,"wires":[["83c73b72.51cf38"],[]]},{"id":"3161abc8.a8e464","type":"join","z":"afb5a4c8.48eb08","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1190,"y":440,"wires":[["60420fdb.e2b29"]]},{"id":"71f78dd1.efd564","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is car battery under 45%?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"45","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.car_ioniq_state_soc_display","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":400,"wires":[["fbe3571e.35d198"],[]]},{"id":"3d94abf7.27d544","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is kitchen door open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porche_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":460,"wires":[["f0d0196e.5514a8"],[]]},{"id":"21fca594.0b868a","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is kitchen blind open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porche_sensor_persiana","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":520,"wires":[["454f7e9e.e606b"],[]]},{"id":"3427505c.62e33","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Is laundry door open","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.coladuria_sensor_puerta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":580,"wires":[["5ccad3dd.82278c"],[]]},{"id":"460ab8f.3719348","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Batería del coche al {{payload}} por ciento.\n","output":"str","x":980,"y":400,"wires":[["3161abc8.a8e464"]]},{"id":"f0d0196e.5514a8","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Puerta de la cocina abierta.","output":"str","x":780,"y":460,"wires":[["3161abc8.a8e464"]]},{"id":"454f7e9e.e606b","type":"template","z":"afb5a4c8.48eb08","name":"Inicidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Persiana de la cocina abierta.","output":"str","x":790,"y":520,"wires":[["3161abc8.a8e464"]]},{"id":"5ccad3dd.82278c","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Puerta de la coladuría abierta.","output":"str","x":780,"y":580,"wires":[["3161abc8.a8e464"]]},{"id":"de487703.f26278","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cerrando la barrera.","output":"str","x":980,"y":280,"wires":[["3161abc8.a8e464"]]},{"id":"fbe3571e.35d198","type":"api-current-state","z":"afb5a4c8.48eb08","name":"Car battery state","server":"4457bebb.707b2","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.car_ioniq_state_soc_display","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":400,"wires":[["460ab8f.3719348"]]},{"id":"8ba5c8d0.35efb8","type":"template","z":"afb5a4c8.48eb08","name":"Incidence report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alarma armada en modo noche","output":"str","x":980,"y":320,"wires":[["3161abc8.a8e464"]]},{"id":"4160b851.1a3be8","type":"api-call-service","z":"afb5a4c8.48eb08","name":"Notify incidences through Google Home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.recibidor","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":440,"wires":[[]]},{"id":"60420fdb.e2b29","type":"template","z":"afb5a4c8.48eb08","name":"Build Incidences Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"message\": \"{{ payload }}\" }","output":"json","x":1290,"y":520,"wires":[["4160b851.1a3be8"]]},{"id":"91da4525.1cafc8","type":"comment","z":"afb5a4c8.48eb08","name":"Incidences","info":"","x":500,"y":360,"wires":[]},{"id":"fac76f8d.f928f","type":"server-state-changed","z":"78850b47.de8cb4","name":"Guest mode state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.guest_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":1140,"wires":[["a59ac349.61464"]]},{"id":"a59ac349.61464","type":"switch","z":"78850b47.de8cb4","name":"On - Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":1140,"wires":[["9062fba0.6945d8"],["fa04c34a.b87b5"]]},{"id":"fa04c34a.b87b5","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest not home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"guest\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":1200,"wires":[[]]},{"id":"9062fba0.6945d8","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"guest\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":1080,"wires":[[]]},{"id":"4a003641.8276c8","type":"inject","z":"78850b47.de8cb4","name":"At 8:15","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 08 * * 2,5","once":false,"onceDelay":0.1,"x":100,"y":1260,"wires":[["ab0836e3.2a23f8"]]},{"id":"ab0836e3.2a23f8","type":"api-call-service","z":"78850b47.de8cb4","name":"For 240 minutes","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"","data":"{\"entity_id\":\"input_number.guest_mode_minutes\",\"value\":240}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1260,"wires":[["db6a5874.e8e698"]]},{"id":"db6a5874.e8e698","type":"api-call-service","z":"78850b47.de8cb4","name":"Guest mode on","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.guest_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":1260,"wires":[[]]},{"id":"b02120ee.10212","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off outside lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.luces_exteriores","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":120,"wires":[[]]},{"id":"ef82936a.3b208","type":"bigtimer","z":"c87a57ae.254668","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Between dusk and 00:15","comment":"","lat":"39.6662661","lon":"2.6835943","starttime":"5001","endtime":"15","starttime2":0,"endtime2":0,"startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":130,"y":120,"wires":[["52b4b0b2.e6276"],[],[]]},{"id":"53b0615e.d06c3","type":"switch","z":"c87a57ae.254668","name":"On - Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":80,"wires":[["b5bade61.085d3"],["b02120ee.10212"]]},{"id":"b5bade61.085d3","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on outside lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.luces_exteriores","data":"{\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":60,"wires":[[]]},{"id":"7172447e.cb701c","type":"server-state-changed","z":"c87a57ae.254668","name":"Fence state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.outside_fence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":280,"wires":[["1fb13d27.3ac983"]]},{"id":"1fb13d27.3ac983","type":"switch","z":"c87a57ae.254668","name":"Was Closed?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"Cerrada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":280,"wires":[["ba2b5dd.fd714a"]]},{"id":"ba2b5dd.fd714a","type":"switch","z":"c87a57ae.254668","name":"Is moving?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"En movimiento","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":280,"wires":[["da1e8fe4.b203e"]]},{"id":"f4c4576c.532028","type":"api-current-state","z":"c87a57ae.254668","name":"Outside lights off?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.luces_exteriores","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":120,"wires":[["b5bade61.085d3"],[]]},{"id":"51dd95b8.2a14fc","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":200,"wires":[["1eb43d42.48a2b3"]]},{"id":"1eb43d42.48a2b3","type":"time-range-switch","z":"c87a57ae.254668","name":"After 00:15 and dark?","lat":"39.6662661","lon":"2.6835943","startTime":"00:15","endTime":"sunrise","startOffset":0,"endOffset":0,"x":960,"y":180,"wires":[["b02120ee.10212"],[]]},{"id":"da1e8fe4.b203e","type":"time-range-switch","z":"c87a57ae.254668","name":"Is it dark?","lat":"39.6662661","lon":"2.6835943","startTime":"dusk","endTime":"sunrise","startOffset":"-1","endOffset":0,"x":580,"y":220,"wires":[["f4c4576c.532028","51dd95b8.2a14fc"],["d5ae3f12.f8a05"]]},{"id":"8ab9985f.56c608","type":"server-state-changed","z":"c87a57ae.254668","name":"Outside lights on","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.luces_exteriores","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["da1e8fe4.b203e"],[]]},{"id":"52b4b0b2.e6276","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":80,"wires":[["53b0615e.d06c3"]]},{"id":"d5ae3f12.f8a05","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":240,"wires":[["b02120ee.10212"]]},{"id":"2b2cc457.ed4f4c","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on hall lamp","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance_hall_lamp_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":440,"wires":[[]]},{"id":"f728a07a.4a31d","type":"sun events","z":"c87a57ae.254668","testmode":false,"verbose":false,"topic":"","name":"","x":80,"y":480,"wires":[["4eb39b32.aa7794"]]},{"id":"427f01e4.44c1e","type":"api-current-state","z":"c87a57ae.254668","name":"Someone at home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.unidad_familiar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":480,"wires":[["2b2cc457.ed4f4c"],[]]},{"id":"bc16fa5f.f1b778","type":"comment","z":"c87a57ae.254668","name":"Hall lamp","info":"","x":80,"y":360,"wires":[]},{"id":"3c68f4c0.90190c","type":"comment","z":"c87a57ae.254668","name":"Outside lights","info":"","x":90,"y":60,"wires":[]},{"id":"c2c5f5b6.46df98","type":"time-range-switch","z":"c87a57ae.254668","name":"Is it dark?","lat":"39.6662661","lon":"2.6835943","startTime":"dusk","endTime":"sunrise","startOffset":0,"endOffset":0,"x":280,"y":400,"wires":[["2b2cc457.ed4f4c"],[]]},{"id":"f31fb661.4e3948","type":"link in","z":"c87a57ae.254668","name":"Turn on hall lamp if dark","links":["566873f6.987b9c"],"x":175,"y":400,"wires":[["c2c5f5b6.46df98"]]},{"id":"566873f6.987b9c","type":"link out","z":"78850b47.de8cb4","name":"Turn on hall lamp if dark","links":["f31fb661.4e3948"],"x":475,"y":60,"wires":[]},{"id":"2bbcd69d.20e2ca","type":"comment","z":"78850b47.de8cb4","name":"Turn on hall lamp if dark","info":"","x":560,"y":20,"wires":[]},{"id":"441071eb.00ce3","type":"api-call-service","z":"c87a57ae.254668","name":"Turn on stair light","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.escalera_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":680,"wires":[["b9d7a521.61e358"]]},{"id":"b9d7a521.61e358","type":"delay","z":"c87a57ae.254668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":680,"wires":[["1bb42dcd.cb5b62"]]},{"id":"1bb42dcd.cb5b62","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off stair light","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.escalera_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":680,"wires":[[]]},{"id":"b0aa1e80.c4cd3","type":"link in","z":"c87a57ae.254668","name":"Turn on stair light for 5 mins","links":["11286ecd.06da51"],"x":175,"y":680,"wires":[["441071eb.00ce3"]]},{"id":"11286ecd.06da51","type":"link out","z":"afb5a4c8.48eb08","name":"Turn on stair light for 5 mins","links":["b0aa1e80.c4cd3"],"x":455,"y":80,"wires":[]},{"id":"ad46dd57.4b7af","type":"comment","z":"afb5a4c8.48eb08","name":"Turn on stair light for 5 mins","info":"","x":560,"y":40,"wires":[]},{"id":"5b52a8b3.91e1c8","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off hall lamp","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.entrance_hall_lamp_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":540,"wires":[[]]},{"id":"3f83f253.fd2a1e","type":"link in","z":"c87a57ae.254668","name":"Turn off hall lamp","links":["a8766c85.49bba"],"x":175,"y":540,"wires":[["5b52a8b3.91e1c8"]]},{"id":"5b92f272.38a23c","type":"comment","z":"c87a57ae.254668","name":"Stair light","info":"","x":80,"y":620,"wires":[]},{"id":"a8766c85.49bba","type":"link out","z":"afb5a4c8.48eb08","name":"Turn off hall lamp","links":["3f83f253.fd2a1e"],"x":455,"y":160,"wires":[]},{"id":"eeb8ad43.51584","type":"comment","z":"afb5a4c8.48eb08","name":"Turn off hall lamp","info":"","x":520,"y":120,"wires":[]},{"id":"e6161e66.cbc25","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off swimming pool lights","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.piscina_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":180,"wires":[[]]},{"id":"403a7331.1a75fc","type":"link in","z":"c87a57ae.254668","name":"Turn off ALL outside lights","links":["5cd0112d.7270e","7a8eb4d1.80b36c"],"x":1055,"y":280,"wires":[["e6161e66.cbc25","b02120ee.10212"]]},{"id":"5cd0112d.7270e","type":"link out","z":"afb5a4c8.48eb08","name":"Turn off ALL outside lights","links":["403a7331.1a75fc"],"x":455,"y":240,"wires":[]},{"id":"b0731f9a.b7f3b","type":"subflow:291f0f02.c54e9","z":"afb5a4c8.48eb08","x":520,"y":320,"wires":[["8ba5c8d0.35efb8"]]},{"id":"35455773.c99288","type":"api-call-service","z":"c87a57ae.254668","name":"Turn off inside lights group","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.luces_interiores","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":780,"wires":[[]]},{"id":"e1e2430a.40c98","type":"link in","z":"c87a57ae.254668","name":"Turn off inside lights group","links":["b27997be.953588","d81f0ba.97ffdf8"],"x":175,"y":780,"wires":[["35455773.c99288"]]},{"id":"7cf94947.bd1948","type":"comment","z":"c87a57ae.254668","name":"Inside lights group","info":"","x":110,"y":740,"wires":[]},{"id":"b27997be.953588","type":"link out","z":"78850b47.de8cb4","name":"Turn off inside lights","links":["e1e2430a.40c98"],"x":475,"y":420,"wires":[]},{"id":"8e482472.9ee468","type":"comment","z":"78850b47.de8cb4","name":"Turn off inside lights","info":"","x":550,"y":380,"wires":[]},{"id":"3e79982.7814368","type":"api-current-state","z":"64c1c6c4.1bc758","name":"Fence open?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"Abierta","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.outside_fence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["6ad15bc4.571e94"],[]]},{"id":"6ad15bc4.571e94","type":"api-call-service","z":"64c1c6c4.1bc758","name":"Close fence","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.barrera","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":80,"wires":[[]]},{"id":"46adfef7.94b49","type":"subflow:64c1c6c4.1bc758","z":"afb5a4c8.48eb08","x":530,"y":280,"wires":[["de487703.f26278"]]},{"id":"12c6df9d.62c18","type":"comment","z":"c87a57ae.254668","name":"Turn off ALL outside lights","info":"","x":1150,"y":320,"wires":[]},{"id":"4eb39b32.aa7794","type":"switch","z":"c87a57ae.254668","name":"Is it dusk?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dusk","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":480,"wires":[["427f01e4.44c1e"]]},{"id":"e017b016.8e888","type":"comment","z":"78850b47.de8cb4","name":"Family at Home","info":"","x":320,"y":140,"wires":[]},{"id":"80746bf5.b1be98","type":"comment","z":"78850b47.de8cb4","name":"Family not at Home","info":"","x":330,"y":360,"wires":[]},{"id":"2dbec246.35e4ce","type":"comment","z":"78850b47.de8cb4","name":"Guest at Home","info":"","x":320,"y":900,"wires":[]},{"id":"980150a6.a8da6","type":"comment","z":"78850b47.de8cb4","name":"Guest not at Home","info":"","x":330,"y":1000,"wires":[]},{"id":"2ebd34c9.5de56c","type":"comment","z":"afb5a4c8.48eb08","name":"Sleep mode on","info":"","x":300,"y":560,"wires":[]},{"id":"ad72f695.e86fe8","type":"comment","z":"afb5a4c8.48eb08","name":"Sleep mode off","info":"","x":300,"y":740,"wires":[]},{"id":"72e51c5b.9bdd54","type":"comment","z":"c87a57ae.254668","name":"Check state changing from 'Closed' to 'Moving'","info":"","x":330,"y":320,"wires":[]},{"id":"f71ace28.ab6b9","type":"switch","z":"47ae6587.eec74c","name":"Was Disarmed?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":60,"wires":[["5fb29c9e.3b25b4"]]},{"id":"d10ebd66.3c9ba","type":"server-state-changed","z":"47ae6587.eec74c","name":"Alarm state","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":80,"wires":[["f71ace28.ab6b9","b5dc4dd8.1f3db"]]},{"id":"5fb29c9e.3b25b4","type":"api-call-service","z":"47ae6587.eec74c","name":"Enable security sensors","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.seguridad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":40,"wires":[[]]},{"id":"b5dc4dd8.1f3db","type":"switch","z":"47ae6587.eec74c","name":"To Disarmed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":100,"wires":[["4e76a2a3.09894c"]]},{"id":"4e76a2a3.09894c","type":"api-call-service","z":"47ae6587.eec74c","name":"Disable security sensors","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.seguridad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":120,"wires":[[]]},{"id":"8b77b535.782338","type":"server-state-changed","z":"47ae6587.eec74c","name":"Motion detected in hall camera","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.recibidor_camara_det_mov","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":220,"wires":[["58b9cba1.ac3214"],[]]},{"id":"256d93ff.536b5c","type":"server-state-changed","z":"47ae6587.eec74c","name":"Motion detected in living room camera","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.salon_camara_det_mov","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":280,"wires":[["58b9cba1.ac3214"],[]]},{"id":"ffa665a8.6008f8","type":"server-state-changed","z":"47ae6587.eec74c","name":"Motion detected in swimming pool camera","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.piscina_camara_det_mov","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":340,"wires":[["58b9cba1.ac3214"],[]]},{"id":"947c3c51.823cd","type":"server-state-changed","z":"47ae6587.eec74c","name":"Motion detected in bbq camera","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.barbacoa_camara_det_mov","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":400,"wires":[["58b9cba1.ac3214"],[]]},{"id":"213986b8.7eff2a","type":"server-state-changed","z":"47ae6587.eec74c","name":"Motion detected in backyard stand camera","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.barbacoa_camara_det_mov","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":460,"wires":[["58b9cba1.ac3214"],[]]},{"id":"1f2b3712.e10c99","type":"server-state-changed","z":"47ae6587.eec74c","name":"Kitchen blind open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.porche_sensor_persiana","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":520,"wires":[["58b9cba1.ac3214","b179011.4b357","f99c41fe.aefa3"],[]]},{"id":"6a1ab18c.0409a","type":"server-state-changed","z":"47ae6587.eec74c","name":"Kitchen door open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.porche_sensor_puerta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":580,"wires":[["58b9cba1.ac3214","b179011.4b357","f99c41fe.aefa3"],[]]},{"id":"eac51658.c799e8","type":"server-state-changed","z":"47ae6587.eec74c","name":"Laundy door open","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.coladuria_sensor_puerta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":640,"wires":[["58b9cba1.ac3214","b179011.4b357","f99c41fe.aefa3"],[]]},{"id":"719a33a0.5aaacc","type":"server-state-changed","z":"47ae6587.eec74c","name":"Office motion detected","server":"4457bebb.707b2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.despacho_sensor_movimiento","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":700,"wires":[["58b9cba1.ac3214"],[]]},{"id":"58b9cba1.ac3214","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed away?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":400,"wires":[["65d820fa.60981"],[]]},{"id":"65d820fa.60981","type":"api-call-service","z":"47ae6587.eec74c","name":"Trigger alarm","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_trigger","entityId":"alarm_control_panel.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":460,"wires":[[]]},{"id":"b179011.4b357","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed night?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_night","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":460,"wires":[["65d820fa.60981"],[]]},{"id":"f99c41fe.aefa3","type":"api-current-state","z":"47ae6587.eec74c","name":"Alarm armed home?","server":"4457bebb.707b2","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":520,"wires":[["65d820fa.60981"],[]]},{"id":"9c6127c3.dd55d8","type":"comment","z":"47ae6587.eec74c","name":"Alarm trigger","info":"","x":90,"y":180,"wires":[]},{"id":"451f0e7b.f53f","type":"server-events","z":"adf8d91.68f9c28","name":"Zwave scene activated","server":"4457bebb.707b2","event_type":"zwave.scene_activated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":460,"wires":[["2a6fe24b.a281ee"]]},{"id":"2a6fe24b.a281ee","type":"switch","z":"adf8d91.68f9c28","name":"NodOn scene?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"zwave.recibidor_remote","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":460,"wires":[["78649fa3.ae69b"]]},{"id":"78649fa3.ae69b","type":"switch","z":"adf8d91.68f9c28","name":"Action?","property":"payload.event.scene_id","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"31","vt":"num"},{"t":"eq","v":"32","vt":"num"},{"t":"eq","v":"33","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"41","vt":"num"},{"t":"eq","v":"42","vt":"num"},{"t":"eq","v":"43","vt":"num"}],"checkall":"true","repair":false,"outputs":16,"x":540,"y":460,"wires":[["d2adb420.f8f038"],["d7d29027.bb3c2"],["6ad6f708.8dd8a8"],["17f12f5e.83cc81"],["e0176432.9531f8"],["ea89a396.bd57d"],["fca15daf.cef76"],["c1cd27c4.592748"],["5e26b31.3fed44c"],["c66ed921.3321b8"],["c759c8a5.c6baa8"],["53f05143.cd8be"],["6e280ec9.43e99"],["684530ee.3b8ff"],["c18e57b3.2dd358"],["70bcdbe0.ee1044"]]},{"id":"d2adb420.f8f038","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 1 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":20,"wires":[["2c72dad9.59b7e6"]]},{"id":"17f12f5e.83cc81","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 1 doble pulsación\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":200,"wires":[[]]},{"id":"d7d29027.bb3c2","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 1 soltado después de una pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":80,"wires":[[]]},{"id":"6ad6f708.8dd8a8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 1 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 1 pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":140,"wires":[[]]},{"id":"e0176432.9531f8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 2 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":260,"wires":[["5423e8c1.1ca628"]]},{"id":"c1cd27c4.592748","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 2 doble pulsación\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":440,"wires":[["5cd38661.2aab28"]]},{"id":"ea89a396.bd57d","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 2 soltado después de una pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":320,"wires":[[]]},{"id":"fca15daf.cef76","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 2 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 2 pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":380,"wires":[[]]},{"id":"5e26b31.3fed44c","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 3 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":500,"wires":[["d81f0ba.97ffdf8"]]},{"id":"53f05143.cd8be","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 3 doble pulsación\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":680,"wires":[["7a8eb4d1.80b36c"]]},{"id":"c66ed921.3321b8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 3 soltado después de una pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":560,"wires":[[]]},{"id":"c759c8a5.c6baa8","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 3 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 3 pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":620,"wires":[["7a8eb4d1.80b36c","d81f0ba.97ffdf8"]]},{"id":"6e280ec9.43e99","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 pressed","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 4 apretado\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":740,"wires":[["41a0eb1b.454e54"]]},{"id":"70bcdbe0.ee1044","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 double click","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 4 doble pulsación\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":920,"wires":[["b9bdee1e.9a893"]]},{"id":"684530ee.3b8ff","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 long press release","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 4 soltado después de una pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":800,"wires":[[]]},{"id":"c18e57b3.2dd358","type":"api-call-service","z":"adf8d91.68f9c28","name":"Logbook Button 4 long press","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"{\"name\":\"NodOn\",\"message\":\"Botón 4 pulsación larga\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":860,"wires":[[]]},{"id":"5423e8c1.1ca628","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home weather short","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"speech_parte_meteorologico_corto","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":260,"wires":[[]]},{"id":"5cd38661.2aab28","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home weather","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"speech_parte_meteorologico","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":440,"wires":[[]]},{"id":"7a8eb4d1.80b36c","type":"link out","z":"adf8d91.68f9c28","name":"Turn off outside lights","links":["403a7331.1a75fc"],"x":1135,"y":640,"wires":[]},{"id":"d81f0ba.97ffdf8","type":"link out","z":"adf8d91.68f9c28","name":"Turn off inside lights","links":["e1e2430a.40c98"],"x":1135,"y":600,"wires":[]},{"id":"b9bdee1e.9a893","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home Geni shift","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"geni_shift","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":920,"wires":[[]]},{"id":"41a0eb1b.454e54","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home Chores","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"chores","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":740,"wires":[[]]},{"id":"2c72dad9.59b7e6","type":"api-call-service","z":"adf8d91.68f9c28","name":"Google Home leave home","server":"4457bebb.707b2","version":1,"debugenabled":false,"service_domain":"script","service":"presence_leave_home","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":20,"wires":[[]]}]